body{
    margin: 0%;
    padding:0%;
    font-family: 'Courier New', Courier, monospace;
}

.logo{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-left: 20px;
    
}
nav{
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;
    background-color: black;
    color: #fff;
}
nav ul{
    align-items: center;
    display: flex;
}
nav li{
    list-style: none;
    padding: 20px;
}
.btn {
 display: none;
}

@media (max-width:'900px'){
    .btn {
        display: style;
    }
    .nav ul{
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 200%;
        width: 50%;
        height: 25vh;
        transition: 0.5s;
        background-color: ;
        float: left;
        text-align: center;

    }
    .text, .text p {
        flex-wrap: wrap;
        flex-direction: column;
    }
}
section{
    justify-content: space-between;
}
.well{
  
    align-items: center;
    display: flex;
    justify-content: space-around;
   
}
section{
   
  
    justify-content: center;
    align-items: center;
}
.serve{
   
    display: flex;
    align-items: center;
    justify-content: center;
    
        color: black;
    background-color: beige;
}
.servtext{
    display: flex;
    align-items: start;
    justify-content: space-between;

    
}
.img{
    
    width: 100vw;
    height: 18vh;
    display: flex;
    align-items: start;
    justify-content: space-between;

}
.text{
  
    padding:0%;
    margin:0%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    background-color: brown;
        
}
.about{
   
    
    display: flex;
    align-items: center;
    justify-content: center;
        color: black;
    background-color: beige;
}
.imgbio{
    width: 50vw;
    height: 45vh;
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
}
.bio{
     float: right;
    align-items: center;
    justify-content: space-around;


}
.project{
    
    
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
    background-color: beige;
}

.info{
    text-align: center;
    align-items: center;
     background-color: black;
    color: white;
}




.footer{
    align-items: center;
    justify-content: space-evenly;
    
}
